/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

input {
  /* width: 500px;
  height: 200px; */
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/bg1.png);
  background-size: cover;

}

/* img {
  width: 15em;
} */

h1,h2,h3 {
  font-family: Roboto,cursive;
}

h3 {
  width: 20em;
}
